html,
body {
  height: 100%;
  background: black;
}

body {
  display: grid;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.home-text {
  color: white !important;
  padding-bottom: 2%;
}

.home-text a {
  text-decoration: none;
  color: white;
}

.home {
  width: 100%;
  max-width: 470px;
  margin: auto;
}

/* Logo animations */

.scale-in-center {
  -webkit-animation: 1s scale-in-center 3.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: 1s scale-in-center 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.rotate-center {
  -webkit-animation: rotate-center 4s linear both;
  animation: rotate-center 4s linear both;
}

.fade-in {
  -webkit-animation: fade-in 3.5s linear both;
  animation: fade-in 3.5s linear both;
}

.fade-in-base {
	-webkit-animation: fade-in-base 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-base 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-final {
	-webkit-animation: 5.0s fade-in-final 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: 5.0s fade-in-final 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.heartbeat {
  -webkit-animation: 3s heartbeat 6s ease-in-out both;
  animation: 3s heartbeat 6s ease-in-out both;
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.coming-soon-size {
  -webkit-transform: scale(0.2);
  transform: scale(0.2);
}
/* Home text animations */

.tracking-in-expand {
  -webkit-animation: 2s tracking-in-expand 5s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: 2s tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.tracking-out-expand {
	-webkit-animation: tracking-out-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tracking-out-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Fluid images */

.fluid-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80% !important;
}

/* Coming soon images */

.coming-soon {
  width: 80% !important;
  margin-bottom: 25px !important;
}

/**
 * ----------------------------------------
 * Animations
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 1;
    overflow: hidden;
  }
  50% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 1;
    overflow: hidden;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    overflow: hidden;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 1;
    overflow: hidden;
  }
  50% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 1;
    overflow: hidden;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    overflow: hidden;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-base {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-base {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-final {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-final {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    opacity: 0;
  }
}
@keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    opacity: 0;
  }
}