<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/js/coming-soon-size.js"></script>
</head>

<body class="text-center">
<div class="fluid-content">
  <div class="mx-auto">
    <div class="mx-auto">
        <img id="logo" class="img-fluid coming-soon-size mx-auto " src="/mih3.png" alt="logo">
    </div>
  </div>
</div>
<div class="mx-auto fluid-content fade-in-base">
    <img class="img-fluid coming-soon" src="/coming-soon-init.png" alt="logo">
</div>
<div class="mx-auto fluid-content">
    <img class="img-fluid coming-soon fade-in-final" src="/coming-soon-complete.png" alt="logo">
</div>
<div class="home-text fixed-bottom">
    <a href="mailto:vanhaszna@gmail.com">
        <h1 class="tracking-in-expand">contact us</h1>
        <h7 class="tracking-in-expand">vanhaszna@gmail.com</h7>
    </a>
</div>
</body>
</html>
