<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/js/main.js"></script>
</head>

<body class="text-center">

<% include ../partials/nav.ejs %>

<div class="container-fluid">
  <div class="heartbeat mx-auto">
    <div class="scale-in-center mx-auto align-middle">
        <img id="logo" class="fade-in mx-auto img-fluid" onclick="comingSoonClick()" src="/mih.png" alt="logo">
    </div>
  </div>
</div>

<div class="home-text fixed-bottom">
  <h1 id="text1" class="tracking-in-expand">HELLO WORLD</h1>
  <h7 id="text2" class="tracking-in-expand">WE ARE THE<br>M.A.S.H.</h7>
</div>



</body>
</html>
